## Pepsi Co Frito Lay Data Transformations
    Developed by Jack Guptill
    - Date of Creation: 3/3/2023
    - Last Update: 3/29/24
    - transposed_8.csv exported on: 4/18/2024

Adding Libraries

In [27]:
import pandas as pd #python library that allows me to work with panel data (spreadsheets or csv's)
import numpy as np #another library that pandas is built off of. It is vectorizing data. 
import math

# Options
pd.set_option('display.max_columns', None) #letting me see all of the columns when running head commands

Reading in Data

In [28]:
excel_file_path_1 = 'FR data.xlsx'
excel_file_path_2 = 'Plant Bag Capacity.xlsx'

#FR Dataframes
atlantic = pd.read_excel(excel_file_path_1, sheet_name='Atlantic FR')
northeast = pd.read_excel(excel_file_path_1, sheet_name='Northeast FR')
southeast = pd.read_excel(excel_file_path_1, sheet_name='Southeast FR')
southwest = pd.read_excel(excel_file_path_1, sheet_name='Southwest FR')
northcentral = pd.read_excel(excel_file_path_1, sheet_name='Northcentral FR')
west = pd.read_excel(excel_file_path_1, sheet_name='West FR')

#plant capacity dataframe
bag_capacity_untransposed = pd.read_excel(excel_file_path_2, sheet_name='Bag Capacity')
transposed = pd.read_excel(excel_file_path_2, sheet_name='Transposed')

Verifying that the data is read in correctly

In [29]:
atlantic.head()

,MFG Class,Product Code,YR,PD,WK,Fill Rate %,Ordered Bags,Shipped Bags,Cut Bags
0,001 - CORN CHIPS,250785,2024,1,1,0.9591,45368,43516,-1852
1,001 - CORN CHIPS,250785,2024,1,2,0.9877,46764,46184,-576
2,001 - CORN CHIPS,250785,2024,1,3,0.9756,43796,42728,-1068
3,001 - CORN CHIPS,250785,2024,1,4,0.9897,79656,78832,-824
4,001 - CORN CHIPS,250809,2024,1,1,0.9896,39328,38920,-408

In [30]:
northeast.head()

,MFG Class,Product Code,YR,PD,WK,Fill Rate %,Ordered Bags,Shipped Bags,Cut Bags
0,001 - CORN CHIPS,223944,2024,1,1,1.0000,1080,1080,0
1,001 - CORN CHIPS,223944,2024,1,2,0.8110,1304,1056,-248
2,001 - CORN CHIPS,223944,2024,1,3,1.0000,1440,1440,0
3,001 - CORN CHIPS,223944,2024,1,4,0.8776,1176,1032,-144
4,001 - CORN CHIPS,224043,2024,1,1,0.7027,888,624,-264

In [31]:
southeast.head()

,MFG Class,Product Code,YR,PD,WK,Fill Rate %,Ordered Bags,Shipped Bags,Cut Bags
0,001 - CORN CHIPS,231264,2024,1,1,1.0000,16,16,0
1,001 - CORN CHIPS,231264,2024,1,2,1.0000,16,16,0
2,001 - CORN CHIPS,231264,2024,1,4,1.0000,0,0,0
3,001 - CORN CHIPS,250785,2024,1,1,0.9934,24796,24636,-164
4,001 - CORN CHIPS,250785,2024,1,2,0.9967,26876,26784,-88

In [32]:
southwest.head()

,MFG Class,Product Code,YR,PD,WK,Fill Rate %,Ordered Bags,Shipped Bags,Cut Bags
0,001 - CORN CHIPS,250785,2024,1,1,0.9979,27092,27036,-56
1,001 - CORN CHIPS,250785,2024,1,2,0.9904,31460,31156,-300
2,001 - CORN CHIPS,250785,2024,1,3,0.9624,30264,29132,-1132
3,001 - CORN CHIPS,250785,2024,1,4,0.9842,27820,27380,-440
4,001 - CORN CHIPS,250809,2024,1,1,0.9989,44880,44828,-52

In [33]:
northcentral.head()

,MFG Class,Product Code,YR,PD,WK,Fill Rate %,Ordered Bags,Shipped Bags,Cut Bags
0,001 - CORN CHIPS,231420,2024,1,2,0.0,0,0,0
1,001 - CORN CHIPS,231420,2024,1,4,0.0,0,0,0
2,001 - CORN CHIPS,231954,2024,1,3,0.0,0,0,0
3,001 - CORN CHIPS,231954,2024,1,4,0.0,0,0,0
4,001 - CORN CHIPS,231957,2024,1,3,0.0,4,0,-4

In [34]:
west.head()

,MFG Class,Product Code,YR,PD,WK,Fill Rate %,Ordered Bags,Shipped Bags,Cut Bags
0,001 - CORN CHIPS,223944,2024,1,1,1.0,3456,3456,0
1,001 - CORN CHIPS,223944,2024,1,2,1.0,5184,5184,0
2,001 - CORN CHIPS,223944,2024,1,3,1.0,6868,6868,0
3,001 - CORN CHIPS,223944,2024,1,4,1.0,3456,3456,0
4,001 - CORN CHIPS,224043,2024,1,1,1.0,960,960,0

## Data Transformations

Adding a location column to each of the data sets according to the sheet names

In [35]:
dataframes = [atlantic, northeast, southeast, southwest, northcentral, west]
locations = ['Atlantic', 'Northeast', 'Southeast', 'Southwest', 'Northcentral', 'West']

for df, location in zip(dataframes, locations):
    df['Location'] = location

Unionizing the dataframes into one structured table

In [36]:
main = pd.concat([atlantic, northeast, southeast, southwest, northcentral, west], axis=0)
main.head(20000)

,MFG Class,Product Code,YR,PD,WK,Fill Rate %,Ordered Bags,Shipped Bags,Cut Bags,Location
0,001 - CORN CHIPS,250785,2024,1,1,0.9591,45368,43516,-1852,Atlantic
1,001 - CORN CHIPS,250785,2024,1,2,0.9877,46764,46184,-576,Atlantic
2,001 - CORN CHIPS,250785,2024,1,3,0.9756,43796,42728,-1068,Atlantic
3,001 - CORN CHIPS,250785,2024,1,4,0.9897,79656,78832,-824,Atlantic
4,001 - CORN CHIPS,250809,2024,1,1,0.9896,39328,38920,-408,Atlantic
...,...,...,...,...,...,...,...,...,...,...
2943,092 - PURCHASED CHS DIPS,352641,2024,1,1,0.9333,39365,36740,-2625,West
2944,092 - PURCHASED CHS DIPS,352641,2024,1,2,0.8002,13435,10750,-2685,West
2945,092 - PURCHASED CHS DIPS,352641,2024,1,3,0.8427,4575,3855,-725,West
2946,092 - PURCHASED CHS DIPS,352641,2024,1,4,0.7869,4555,3505,-1050,West
2947,092 - PURCHASED CHS DIPS,359199,2024,1,4,0.0000,30,0,-30,West

In [37]:
main[['MFG Class', 'MFG Name']] = main['MFG Class'].str.split('-', expand=True)

In [38]:
main.shape #getting the dimensions of the table to see what I am working with in terms of performance constraints

(12200, 11)

#### Working on Plant Capacity Data to make it more readable for capacity analysis in Tableau

Ideal Data Table Structure: Region, MFG Class, Capacity

In [39]:
bag_capacity_untransposed

,Plant/ MFG Class,002,015,085,013,001,003,092,066,061,028
0,West 1,1410000.0,NaN,NaN,5460000.0,542000.0,383250.0,NaN,NaN,1925000.0,NaN
1,West 2,NaN,6015000.0,NaN,4875000.0,NaN,435000.0,NaN,580000.0,NaN,2461200.0
2,West 3,624000.0,10200000.0,NaN,NaN,880000.0,NaN,NaN,660000.0,1760000.0,NaN
3,West 4,977000.0,NaN,NaN,3055000.0,NaN,351000.0,NaN,NaN,NaN,2360400.0
4,West 5,NaN,4650000.0,NaN,NaN,454000.0,NaN,NaN,578000.0,NaN,NaN
5,NC 1,1480000.0,13530000.0,NaN,NaN,NaN,NaN,NaN,2100000.0,NaN,NaN
6,NC 2,1400000.0,NaN,NaN,3250000.0,1262000.0,468000.0,NaN,NaN,2021800.0,6123600.0
7,NC 3,NaN,12750000.0,NaN,3731000.0,470000.0,NaN,NaN,3000000.0,2486000.0,NaN
8,SW 1,1010000.0,7050000.0,NaN,NaN,1080000.0,609000.0,NaN,2169000.0,NaN,NaN
9,SW 2,590000.0,NaN,NaN,6220500.0,NaN,NaN,NaN,NaN,NaN,5129600.0
10,SW 3,NaN,9015000.0,NaN,3100500.0,502000.0,264600.0,NaN,2300000.0,NaN,NaN
11,SW 4,1652000.0,6000000.0,NaN,NaN,NaN,292200.0,NaN,2684000.0,2002000.0,NaN
12,SW 5,348000.0,NaN,NaN,3640000.0,1050000.0,NaN,NaN,NaN,1584000.0,NaN
13,NE 1,1831000.0,9300000.0,NaN,NaN,684000.0,NaN,NaN,4240000.0,NaN,2380000.0
14,NE 2,NaN,7050000.0,NaN,2801500.0,NaN,321000.0,NaN,1684600.0,NaN,NaN
15,NE 3,1369000.0,NaN,NaN,2535000.0,NaN,252000.0,NaN,NaN,NaN,NaN
16,NE 4,NaN,6450000.0,NaN,NaN,476000.0,NaN,NaN,2300000.0,4120600.0,3066000.0
17,Atlantic 1,1200000.0,NaN,NaN,2925000.0,902000.0,489000.0,NaN,NaN,NaN,NaN
18,Atlantic 2,NaN,12975000.0,NaN,1956500.0,NaN,NaN,NaN,4208000.0,2684000.0,NaN
19,Atlantic 3,1620000.0,9157500.0,NaN,2561000.0,952000.0,NaN,NaN,3960000.0,NaN,4592000.0
20,Atlantic 4,NaN,NaN,NaN,NaN,NaN,516000.0,NaN,NaN,NaN,NaN
21,SE 1,1540000.0,NaN,NaN,1560000.0,860000.0,NaN,NaN,NaN,4292200.0,NaN
22,SE 2,NaN,10800000.0,NaN,3510000.0,NaN,660000.0,NaN,3750000.0,NaN,2856000.0
23,SE 3,1524000.0,6945000.0,NaN,NaN,662000.0,NaN,NaN,4180000.0,NaN,NaN

In [40]:
# Extracting region from the 'Plant' column
bag_capacity_untransposed['Region'] = bag_capacity_untransposed['Plant/ MFG Class'].str.extract(r'([a-zA-Z]+)')

# Melting the DataFrame to make 'MFG' codes a single column
df_melted = bag_capacity_untransposed.melt(id_vars=['Region', 'Plant/ MFG Class'], var_name='MFG', value_name='Capacity')

# Aggregating capacities by 'Region' and 'MFG'

new_bag_capacity = df_melted.groupby(['Region', 'MFG']).agg({'Capacity': 'sum'}).reset_index()


#Need to update Region names so that relationships are more cleanly joined in Tableau

replacements = {
    'SW': 'Southwest',
    'NE': 'Northeast',
    'NC': 'Northcentral',
    'SE': 'Southeast'
}


new_bag_capacity['Region'] = new_bag_capacity['Region'].replace(replacements)

#Primary Key
new_bag_capacity['PK'] = new_bag_capacity['Region'] + "-" + new_bag_capacity['MFG']


new_bag_capacity

          Region  MFG    Capacity                PK
0       Atlantic  001   1854000.0      Atlantic-001
1       Atlantic  002   2820000.0      Atlantic-002
2       Atlantic  003   1005000.0      Atlantic-003
3       Atlantic  013   7442500.0      Atlantic-013
4       Atlantic  015  22132500.0      Atlantic-015
5       Atlantic  028   4592000.0      Atlantic-028
6       Atlantic  061   2684000.0      Atlantic-061
7       Atlantic  066   8168000.0      Atlantic-066
8       Atlantic  085         0.0      Atlantic-085
9       Atlantic  092         0.0      Atlantic-092
10  Northcentral  001   1732000.0  Northcentral-001
11  Northcentral  002   2880000.0  Northcentral-002
12  Northcentral  003    468000.0  Northcentral-003
13  Northcentral  013   6981000.0  Northcentral-013
14  Northcentral  015  26280000.0  Northcentral-015
15  Northcentral  028   6123600.0  Northcentral-028
16  Northcentral  061   4507800.0  Northcentral-061
17  Northcentral  066   5100000.0  Northcentral-066
18  Northcentral  085         0.0  Northcentral-085
19  Northcentral  092         0.0  Northcentral-092
20     Northeast  001   1160000.0     Northeast-001
21     Northeast  002   3200000.0     Northeast-002
22     Northeast  003    573000.0     Northeast-003
23     Northeast  013   5336500.0     Northeast-013
24     Northeast  015  22800000.0     Northeast-015
25     Northeast  028   5446000.0     Northeast-028
26     Northeast  061   4120600.0     Northeast-061
27     Northeast  066   8224600.0     Northeast-066
28     Northeast  085         0.0     Northeast-085
29     Northeast  092         0.0     Northeast-092
30     Southeast  001   1522000.0     Southeast-001
31     Southeast  002   3064000.0     Southeast-002
32     Southeast  003    660000.0     Southeast-003
33     Southeast  013   5070000.0     Southeast-013
34     Southeast  015  17745000.0     Southeast-015
35     Southeast  028   2856000.0     Southeast-028
36     Southeast  061   4292200.0     Southeast-061
37     Southeast  066   7930000.0     Southeast-066
38     Southeast  085         0.0     Southeast-085
39     Southeast  092         0.0     Southeast-092
40     Southwest  001   2632000.0     Southwest-001
41     Southwest  002   3600000.0     Southwest-002
42     Southwest  003   1165800.0     Southwest-003
43     Southwest  013  12961000.0     Southwest-013
44     Southwest  015  22065000.0     Southwest-015
45     Southwest  028   5129600.0     Southwest-028
46     Southwest  061   3586000.0     Southwest-061
47     Southwest  066   7153000.0     Southwest-066
48     Southwest  085         0.0     Southwest-085
49     Southwest  092         0.0     Southwest-092
50          West  001   1876000.0          West-001
51          West  002   3011000.0          West-002
52          West  003   1169250.0          West-003
53          West  013  13390000.0          West-013
54          West  015  20865000.0          West-015
55          West  028   4821600.0          West-028
56          West  061   3685000.0          West-061
57          West  066   1818000.0          West-066
58          West  085         0.0          West-085
59          West  092         0.0          West-092

In [41]:
#Export new_bag_capacity for Tableau purposes

new_bag_capacity.to_csv('transformed_bag_capacity_4.csv')

In [42]:
data = {
    'Plant': ['West 1', 'West 2', 'West 3', 'SW 1', 'SW 2', 'NW 1', 'NW 2'],
    'MFG001': [100, 150, 200, 50, 60, 70, 80],
    'MFG002': [200, 250, 300, 100, 110, 120, 130]
}
df = pd.DataFrame(data)

# Extracting region from the 'Plant' column
df['Region'] = df['Plant'].str.extract(r'([a-zA-Z]+)')

# Melting the DataFrame to make 'MFG' codes a single column
df_melted = df.melt(id_vars=['Region', 'Plant'], var_name='MFG', value_name='Capacity')

# Aggregating capacities by 'Region' and 'MFG'
# Note: It's safe to drop the 'Plant' column after it's no longer needed for grouping
result = df_melted.groupby(['Region', 'MFG']).agg({'Capacity': 'sum'}).reset_index()

print(result)

  Region     MFG  Capacity
0     NW  MFG001       150
1     NW  MFG002       250
2     SW  MFG001       110
3     SW  MFG002       210
4   West  MFG001       450
5   West  MFG002       750

In [43]:
#transposed.head()
#exporting out the new transposed df
transposed.to_csv('transposed_bag_capacity.csv')

In [44]:
main.dtypes

MFG Class        object
Product Code      int64
YR                int64
PD                int64
WK                int64
Fill Rate %     float64
Ordered Bags      int64
Shipped Bags      int64
Cut Bags          int64
Location         object
MFG Name         object
dtype: object

In [45]:
main['MFG Class'] = main['MFG Class'].astype('int64')

In [46]:
main.dtypes

MFG Class         int64
Product Code      int64
YR                int64
PD                int64
WK                int64
Fill Rate %     float64
Ordered Bags      int64
Shipped Bags      int64
Cut Bags          int64
Location         object
MFG Name         object
dtype: object

In [47]:
transposed.dtypes

MFG Class           int64
West 1            float64
West 2            float64
West 3            float64
West 4            float64
West 5            float64
West Total          int64
NC 1              float64
NC 2              float64
NC 3              float64
NC  Total           int64
SW 1              float64
SW 2              float64
SW 3              float64
SW 4              float64
SW 5              float64
SW Total            int64
NE 1              float64
NE 2              float64
NE 3              float64
NE 4              float64
NE Total            int64
Atlantic 1        float64
Atlantic 2        float64
Atlantic 3        float64
Atlantic 4        float64
Atlantic Total      int64
SE 1              float64
SE 2              float64
SE 3              float64
SE Total            int64
dtype: object

Merging the Data tables

In [48]:
# No longer going to be joining the tables as it doesnt make too much sense to do so. Makes more sense to keep them as seperate tables

#joined_df = pd.merge(main, transposed, how='left', on='MFG Class')

In [49]:
#joined_df.head()

In [50]:
#Need to fill in NaN values for the new columns to be zero

Creation of a Primary Key

In [51]:
main["PK_ID"] = main[["MFG Class", "Product Code", "YR", "PD", "WK", "Location"]].astype(str).apply("-".join, axis=1)

Fill Rate to Target Percentage

In [52]:
main["FR to Target"] = main["Fill Rate %"] / .975

Hit FR Goal?

In [53]:
main['Hit FR Goal?'] = np.where(main['Fill Rate %'] > 0.975, 'Yes', 'No')

Delta in Units to FR

In [54]:
# (.975 * ordered) - actual_shipped = Delta in Units

#main["Delta in Units to FR"] = (97.5 * main["Ordered Bags"]) - main['Shipped Bags']


# for loop
for index, row in main.iterrows():
    delta_units = (.975 * row["Ordered Bags"]) - row['Shipped Bags']
    main.at[index, "Delta in Units to FR"] = delta_units

Running Cummulative Total
- ordered bags
- shipped bags
- cut bags

In [55]:
main['Running Total Ordered Bags'] = main.groupby(main.index // 4)['Ordered Bags'].cumsum()
main['Running Total Shipped Bags'] = main.groupby(main.index // 4)['Shipped Bags'].cumsum()
main['Running Total Cut Bags'] = main.groupby(main.index // 4)['Cut Bags'].cumsum()

Below Target Fill Rate Percentage Flag Field

In [56]:
# for row in main.iterrows():
#     if main['Fill Rate %'][row] < 97.5:
#         main['Below Target FR'] = 'Below Target'
    
#     else: 
#         main['Below Target FR'] = 'Above Target'

Creation of MP and Dips Flag Fields


I need to do data verification of this field

In [57]:
condition = (main['MFG Class'] == 85) | (main['MFG Class'] == 92)  # Creating a boolean mask with "or" condition
main[condition]['MFG Name'].unique()  # Filtering DataFrame using the mask

array([' MULTI PACK', ' PURCHASED CHS DIPS'], dtype=object)

In [58]:
main['MP or Dip Flag'] = np.where((main['MFG Class'] == 85) | (main['MFG Class'] == 92), 'Yes', 'No')

In [59]:
#Verifying data quality for the flags and that they work

main_filtered_flags= main.loc[main['MP or Dip Flag'] == 'Yes', ['MP or Dip Flag', 'MFG Class']] #query to see where the Dips/MP Field is yes
#main_filtered_flags= main.loc[main['MFG Class'] == 91, ['MFG Class','MP or Dip Flag']]


main_filtered_flags.head(100000)

     MP or Dip Flag  MFG Class
1423            Yes         85
1424            Yes         85
1425            Yes         85
1426            Yes         85
1427            Yes         85
...             ...        ...
2943            Yes         92
2944            Yes         92
2945            Yes         92
2946            Yes         92
2947            Yes         92

[1885 rows x 2 columns]

Creation of % of Cut Bags Field

In [60]:
main["Percent Cut Bags"] = abs(main['Cut Bags']) / main['Ordered Bags']

Desired FR in units field/s

In [61]:
main["Desired FR in Units"] = main['Ordered Bags'].apply(lambda x: math.ceil(x * 0.975))

Period, Week, Year Concatenated

In [62]:
main['Period - Week - Year'] = main['PD'].astype(str) +  ', ' + main['WK'].astype(str) + ', ' + main['YR'].astype(str)

Concat MFG Class and Product Code

In [63]:
main['MFG Class - Product Code - Location'] = main['MFG Class'].astype(str) + '-' + main['Product Code'].astype(str) + '-' + main['Location'].astype(str)

Need to Normalize a few of the fields in order to create a composit Metric for Fill Rate

Foreign Key For Capacity Table

In [69]:
main['FK Capacity'] = main['Location'].astype(str) + "-" + main['MFG Class'].astype(str)

In [70]:
# Ordered Bags normalized
mean_ordered_bags = main['Ordered Bags'].mean()
std_ordered_bags = main['Ordered Bags'].std()
main['Normalized Ordered Bags'] = (main['Ordered Bags'] - mean_ordered_bags) / std_ordered_bags

#Cut Bags Normalized
abs_amount_cut = main['Cut Bags'].abs() #making them all positive values to make the end metric more understandable
mean_amount_cut = abs_amount_cut.mean()
std_amount_cut = abs_amount_cut.std()
main['Normalized Amount Cut'] = (main['Cut Bags'] - mean_amount_cut) / std_amount_cut


#Delta to FR Goal Normalized
mean_delta_to_target_fill_rate = main['Delta in Units to FR'].mean()
std_delta_to_target_fill_rate = main['Delta in Units to FR'].std()
main['Normalized Delta to Target Fill Rate'] = (main['Delta in Units to FR'] - mean_delta_to_target_fill_rate) / std_delta_to_target_fill_rate

#Fill Rate Normalized
mean_fill_rate = main["Fill Rate %"].mean()
std_fill_rate = main['Fill Rate %'].std()
main['Normalized Fill Rate'] = (main['Fill Rate %'] - mean_fill_rate) / std_fill_rate

In [71]:
main.head(100)

,MFG Class,Product Code,YR,PD,WK,Fill Rate %,Ordered Bags,Shipped Bags,Cut Bags,Location,MFG Name,PK_ID,FR to Target,Hit FR Goal?,Delta in Units to FR,Running Total Ordered Bags,Running Total Shipped Bags,Running Total Cut Bags,MP or Dip Flag,Percent Cut Bags,Desired FR in Units,Period - Week - Year,MFG Class - Product Code - Location,FK Capacity,Normalized Ordered Bags,Normalized Amount Cut,Normalized Delta to Target Fill Rate,Normalized Fill Rate
0,1,250785,2024,1,1,0.9591,45368,43516,-1852,Atlantic,CORN CHIPS,1-250785-2024-1-1-Atlantic,0.983692,No,-86.4,45368,43516,-1852,No,0.040822,44234,"1, 1, 2024",1-250785-Atlantic,Atlantic-1,0.211539,-0.465414,-0.132603,0.419769
1,1,250785,2024,1,2,0.9877,46764,46184,-576,Atlantic,CORN CHIPS,1-250785-2024-1-2-Atlantic,1.013026,Yes,-129.6,92132,89700,-2428,No,0.012317,45595,"1, 2, 2024",1-250785-Atlantic,Atlantic-1,0.227258,-0.274559,-0.146178,0.512875
2,1,250785,2024,1,3,0.9756,43796,42728,-1068,Atlantic,CORN CHIPS,1-250785-2024-1-3-Atlantic,1.000615,Yes,-171.7,135928,132428,-3496,No,0.024386,42702,"1, 3, 2024",1-250785-Atlantic,Atlantic-1,0.193838,-0.348149,-0.159407,0.473484
3,1,250785,2024,1,4,0.9897,79656,78832,-824,Atlantic,CORN CHIPS,1-250785-2024-1-4-Atlantic,1.015077,Yes,-86.4,215584,211260,-4320,No,0.010344,77665,"1, 4, 2024",1-250785-Atlantic,Atlantic-1,0.597632,-0.311653,-0.132603,0.519386
4,1,250809,2024,1,1,0.9896,39328,38920,-408,Atlantic,CORN CHIPS,1-250809-2024-1-1-Atlantic,1.014974,Yes,-24.0,39328,38920,-408,No,0.010374,38345,"1, 1, 2024",1-250809-Atlantic,Atlantic-1,0.143527,-0.249431,-0.112995,0.519061
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,338256,2024,1,4,0.0000,28,0,-28,Atlantic,CORN CHIPS,1-338256-2024-1-4-Atlantic,0.000000,No,-10.5,540,52,-488,No,1.000000,28,"1, 4, 2024",1-338256-Atlantic,Atlantic-1,-0.299003,-0.192593,-0.108753,-2.702549
96,1,338754,2024,1,3,0.0000,8,0,-8,Atlantic,CORN CHIPS,1-338754-2024-1-3-Atlantic,0.000000,No,-18.1,8,0,-8,No,1.000000,8,"1, 3, 2024",1-338754-Atlantic,Atlantic-1,-0.299228,-0.189602,-0.111141,-2.702549
97,1,339981,2024,1,1,0.9774,5828,5696,-132,Atlantic,CORN CHIPS,1-339981-2024-1-1-Atlantic,1.002462,Yes,-16.9,5836,5696,-140,No,0.022649,5683,"1, 1, 2024",1-339981-Atlantic,Atlantic-1,-0.233693,-0.208149,-0.110764,0.479344
98,1,339981,2024,1,2,0.9847,6780,6676,-104,Atlantic,CORN CHIPS,1-339981-2024-1-2-Atlantic,1.009949,Yes,-11.8,12616,12372,-244,No,0.015339,6611,"1, 2, 2024",1-339981-Atlantic,Atlantic-1,-0.222973,-0.203961,-0.109161,0.503109
99,1,339981,2024,1,3,0.9957,5544,5520,-24,Atlantic,CORN CHIPS,1-339981-2024-1-3-Atlantic,1.021231,Yes,-601.0,18160,17892,-268,No,0.004329,5406,"1, 3, 2024",1-339981-Atlantic,Atlantic-1,-0.236891,-0.191995,-0.294307,0.538919

Output Data to csv

In [74]:
main.to_csv('transformed_10.csv')

In [73]:
main.head()

,MFG Class,Product Code,YR,PD,WK,Fill Rate %,Ordered Bags,Shipped Bags,Cut Bags,Location,MFG Name,PK_ID,FR to Target,Hit FR Goal?,Delta in Units to FR,Running Total Ordered Bags,Running Total Shipped Bags,Running Total Cut Bags,MP or Dip Flag,Percent Cut Bags,Desired FR in Units,Period - Week - Year,MFG Class - Product Code - Location,FK Capacity,Normalized Ordered Bags,Normalized Amount Cut,Normalized Delta to Target Fill Rate,Normalized Fill Rate
0,1,250785,2024,1,1,0.9591,45368,43516,-1852,Atlantic,CORN CHIPS,1-250785-2024-1-1-Atlantic,0.983692,No,-86.4,45368,43516,-1852,No,0.040822,44234,"1, 1, 2024",1-250785-Atlantic,Atlantic-1,0.211539,-0.465414,-0.132603,0.419769
1,1,250785,2024,1,2,0.9877,46764,46184,-576,Atlantic,CORN CHIPS,1-250785-2024-1-2-Atlantic,1.013026,Yes,-129.6,92132,89700,-2428,No,0.012317,45595,"1, 2, 2024",1-250785-Atlantic,Atlantic-1,0.227258,-0.274559,-0.146178,0.512875
2,1,250785,2024,1,3,0.9756,43796,42728,-1068,Atlantic,CORN CHIPS,1-250785-2024-1-3-Atlantic,1.000615,Yes,-171.7,135928,132428,-3496,No,0.024386,42702,"1, 3, 2024",1-250785-Atlantic,Atlantic-1,0.193838,-0.348149,-0.159407,0.473484
3,1,250785,2024,1,4,0.9897,79656,78832,-824,Atlantic,CORN CHIPS,1-250785-2024-1-4-Atlantic,1.015077,Yes,-86.4,215584,211260,-4320,No,0.010344,77665,"1, 4, 2024",1-250785-Atlantic,Atlantic-1,0.597632,-0.311653,-0.132603,0.519386
4,1,250809,2024,1,1,0.9896,39328,38920,-408,Atlantic,CORN CHIPS,1-250809-2024-1-1-Atlantic,1.014974,Yes,-24.0,39328,38920,-408,No,0.010374,38345,"1, 1, 2024",1-250809-Atlantic,Atlantic-1,0.143527,-0.249431,-0.112995,0.519061